
@model IEnumerable<ASP.NET_AJAX的应用.Models.m_product>
<h1>查询结果</h1>

<div>
    <table>
        <tr>
            <th>
                id
            </th>
            <th>
                pname
            </th>
            <th>
                price
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.pname
                </td>
                <td>
                    @item.price
                </td>
            </tr>
        }
    </table>
</div>
