
@{

    ViewBag.Title = "Index";

}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<h2>Ajax的应用</h2>

<div id="data">

</div>

<div id="div1">
    @Ajax.ActionLink("显示项目", "Go", new AjaxOptions()
    {
        UpdateTargetId = "data",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    })

    @Html.ActionLink("HTML显示项目", "Go")
</div>



